In [0]:

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

dt_1 = [

        (1,"hari",45,120000),
        (2,"ram",35,125000),
        (3,"shyam",25,130000),
        (4,"sita",30,135000),
        (5,"radha",20,140000)
    
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", IntegerType(), True)  
    ])
bl = spark.createDataFrame(dt_1, schema)
bl.write.mode("overwrite").saveAsTable("tbl_sal")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

dt_2 = [

        (1,"hari",45,120000),
        (2,"ram",35,125000),
        (3,"shyam",25,130000),
        (4,"sita",30,135000),
        (5,"radha",20,140000),
        (6,"shiv",35,145000),
        (7,"Om",40,150000)
    
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", IntegerType(), True)  
    ])
bl = spark.createDataFrame(dt_2, schema)
bl.write.mode("overwrite").saveAsTable("tbl_sal_2")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType 
from pyspark.sql.functions import col 
from delta.tables import DeltaTable


df = spark.table("tbl_sal")
df_tgt = DeltaTable.forName(spark, "tbl_sal_2")

df_tgt.alias("tgt").merge( df.alias("src"),
      "tgt.id = src.id"
).whenNotMatchedInsertAll().execute()

In [0]:


spark.table("tbl_sal").show()
spark.table("tbl_sal_2").show()

+---+------+---+------+
| id|  name|age|salary|
+---+------+---+------+
|  8|vishnu| 55| 30000|
|  3| shyam| 25|130000|
|  5| radha| 20|140000|
|  4|  sita| 30|135000|
|  1|  hari| 45|120000|
|  2|   ram| 35|125000|
+---+------+---+------+

+---+------+---+------+
| id|  name|age|salary|
+---+------+---+------+
|  8|vishnu| 55| 30000|
|  3| shyam| 25|130000|
|  5| radha| 20|140000|
|  4|  sita| 30|135000|
|  6|  shiv| 35|145000|
|  1|  hari| 45|120000|
|  2|   ram| 35|125000|
|  7|    Om| 40|150000|
+---+------+---+------+

In [0]:
spark.sql("DESCRIBE tbl_sal").show(truncate=False)

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|id      |int      |null   |
|name    |string   |null   |
|age     |int      |null   |
|salary  |int      |null   |
+--------+---------+-------+