In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

dt_1 = [

        (1,"hari",45,120000),
        (2,"ram",35,125000),
        (3,"shyam",25,130000),
        (4,"sita",30,135000),
        (5,"radha",20,140000)
    
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", IntegerType(), True)  
    ])
bl = spark.createDataFrame(dt_1, schema)
bl.write.mode("overwrite").saveAsTable("tbl_sal")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

dt_2 = [

        (1,"hari",45,120000),
        (2,"ram",35,125000),
        (3,"shyam",25,130000),
        (4,"sita",30,135000),
        (5,"radha",20,140000),
        (6,"shiv",35,145000),
        (7,"Om",40,150000)
    
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("salary", IntegerType(), True)  
    ])
bl = spark.createDataFrame(dt_2, schema)
bl.write.mode("overwrite").saveAsTable("tbl_sal_2")

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

spark.sql("""
MERGE INTO tbl_sal t
USING tbl_sal_2 s
ON t.id = s.id
WHEN NOT MATCHED THEN
  INSERT *
""")
spark.table("tbl_sal").orderBy(col("id").asc()).show()